/* Reset */
html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }

/* Main Container */
.hopscotch-container { height: 100%; position: relative; top: 0; left: 0; 
	transform: 			scale(1) translate3d(0,0,0);
	-webkit-transform:  scale(1) translate3d(0,0,0);
}
.hopscotch-container.hopscotch-loaded {
	transition: 		all .5s; 
	-webkit-transition: all .5s; 
}

/* Single Step */
.hopscotch-step { width: 100%; height: 100%; position: absolute; }

/* Disabled direction navigation control */
.hopscotch-disabled { display: none; }

/* Easing - linear */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-linear {
	-webkit-transition: all .5s cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	   -moz-transition: all .5s cubic-bezier(0.250, 0.250, 0.750, 0.750); 
		 -o-transition: all .5s cubic-bezier(0.250, 0.250, 0.750, 0.750); 
			transition: all .5s cubic-bezier(0.250, 0.250, 0.750, 0.750);

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	   -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
		 -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
			transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

/* Easing - ease */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-ease {
	-webkit-transition: all .5s cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.250, 0.100, 0.250, 1.000); 
			transition: all .5s cubic-bezier(0.250, 0.100, 0.250, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
			transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

/* Easing - ease-in */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-ease-in {
	-webkit-transition: all .5s cubic-bezier(0.420, 0.000, 1.000, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.420, 0.000, 1.000, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.420, 0.000, 1.000, 1.000); 
			transition: all .5s cubic-bezier(0.420, 0.000, 1.000, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
			transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

/* Easing - ease-out */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-ease-out {
	-webkit-transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
			transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); 
			transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

/* Easing - ease-in-out */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-ease-in-out {
	-webkit-transition: all .5s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
			transition: all .5s cubic-bezier(0.420, 0.000, 0.580, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
			transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

/* Easing - easeInQuad */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInQuad {
	-webkit-transition: all .5s cubic-bezier(0.550, 0.085, 0.680, 0.530); 
	   -moz-transition: all .5s cubic-bezier(0.550, 0.085, 0.680, 0.530); 
		 -o-transition: all .5s cubic-bezier(0.550, 0.085, 0.680, 0.530); 
			transition: all .5s cubic-bezier(0.550, 0.085, 0.680, 0.530);

	-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
	   -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
		 -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
			transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

/* Easing - easeInCubic */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInCubic {
	-webkit-transition: all .5s cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	   -moz-transition: all .5s cubic-bezier(0.550, 0.055, 0.675, 0.190); 
		 -o-transition: all .5s cubic-bezier(0.550, 0.055, 0.675, 0.190); 
			transition: all .5s cubic-bezier(0.550, 0.055, 0.675, 0.190);

	-webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	   -moz-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
		 -o-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
			transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

/* Easing - easeInQuart */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInQuart {
	-webkit-transition: all .5s cubic-bezier(0.895, 0.030, 0.685, 0.220); 
	   -moz-transition: all .5s cubic-bezier(0.895, 0.030, 0.685, 0.220); 
		 -o-transition: all .5s cubic-bezier(0.895, 0.030, 0.685, 0.220); 
			transition: all .5s cubic-bezier(0.895, 0.030, 0.685, 0.220);

	-webkit-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220); 
	   -moz-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220); 
		 -o-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220); 
			transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

/* Easing - easeInQuint */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInQuint {
	-webkit-transition: all .5s cubic-bezier(0.755, 0.050, 0.855, 0.060); 
	   -moz-transition: all .5s cubic-bezier(0.755, 0.050, 0.855, 0.060); 
		 -o-transition: all .5s cubic-bezier(0.755, 0.050, 0.855, 0.060); 
			transition: all .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

	-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
	   -moz-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
		 -o-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
			transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
}

/* Easing - easeInSine */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInSine {
	-webkit-transition: all .5s cubic-bezier(0.470, 0.000, 0.745, 0.715); 
	   -moz-transition: all .5s cubic-bezier(0.470, 0.000, 0.745, 0.715); 
		 -o-transition: all .5s cubic-bezier(0.470, 0.000, 0.745, 0.715); 
			transition: all .5s cubic-bezier(0.470, 0.000, 0.745, 0.715);

	-webkit-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); 
	   -moz-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); 
		 -o-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); 
			transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
}

/* Easing - easeInExpo */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInExpo {
	-webkit-transition: all .5s cubic-bezier(0.950, 0.050, 0.795, 0.035); 
	   -moz-transition: all .5s cubic-bezier(0.950, 0.050, 0.795, 0.035); 
		 -o-transition: all .5s cubic-bezier(0.950, 0.050, 0.795, 0.035); 
			transition: all .5s cubic-bezier(0.950, 0.050, 0.795, 0.035);

	-webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
	   -moz-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
		 -o-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
			transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
}

/* Easing - easeInCirc */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInCirc {
	-webkit-transition: all .5s cubic-bezier(0.600, 0.040, 0.980, 0.335); 
	   -moz-transition: all .5s cubic-bezier(0.600, 0.040, 0.980, 0.335); 
		 -o-transition: all .5s cubic-bezier(0.600, 0.040, 0.980, 0.335); 
			transition: all .5s cubic-bezier(0.600, 0.040, 0.980, 0.335);

	-webkit-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335); 
	   -moz-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335); 
		 -o-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335); 
			transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
}

/* Easing - easeInBack */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInBack {
	-webkit-transition: all .5s cubic-bezier(0.600, -0.280, 0.735, 0.045); 
	   -moz-transition: all .5s cubic-bezier(0.600, -0.280, 0.735, 0.045); 
		 -o-transition: all .5s cubic-bezier(0.600, -0.280, 0.735, 0.045); 
			transition: all .5s cubic-bezier(0.600, -0.280, 0.735, 0.045);

	-webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
	   -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
		 -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
			transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

/* Easing - easeOutQuad */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeOutQuad {
	-webkit-transition: all .5s cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	   -moz-transition: all .5s cubic-bezier(0.250, 0.460, 0.450, 0.940); 
		 -o-transition: all .5s cubic-bezier(0.250, 0.460, 0.450, 0.940); 
			transition: all .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	   -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
		 -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
			transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

/* Easing - easeOutCubic */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeOutCubic {
	-webkit-transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1.000); 
			transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
			transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

/* Easing - easeOutQuart */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeOutQuart {
	-webkit-transition: all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
			transition: all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
			transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/* Easing - easeOutQuint */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeOutQuint {
	-webkit-transition: all .5s cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.230, 1.000, 0.320, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.230, 1.000, 0.320, 1.000); 
			transition: all .5s cubic-bezier(0.230, 1.000, 0.320, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
			transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

/* Easing - easeOutSine */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeOutSine {
	-webkit-transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000); 
			transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000); 
			transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

/* Easing - easeOutExpo */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeOutExpo {
	-webkit-transition: all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
			transition: all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
			transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

/* Easing - easeOutCirc */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeOutCirc {
	-webkit-transition: all .5s cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.075, 0.820, 0.165, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.075, 0.820, 0.165, 1.000); 
			transition: all .5s cubic-bezier(0.075, 0.820, 0.165, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
			transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

/* Easing - easeOutBack */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeOutBack {
	-webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	   -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275); 
		 -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
		 -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

/* Easing - easeInOutQuad */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInOutQuad {
	-webkit-transition: all .5s cubic-bezier(0.455, 0.030, 0.515, 0.955); 
	   -moz-transition: all .5s cubic-bezier(0.455, 0.030, 0.515, 0.955); 
		 -o-transition: all .5s cubic-bezier(0.455, 0.030, 0.515, 0.955); 
			transition: all .5s cubic-bezier(0.455, 0.030, 0.515, 0.955);

	-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
	   -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
		 -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
			transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

/* Easing - easeInOutCubic */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInOutCubic {
	-webkit-transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
			transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
			transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/* Easing - easeInOutQuart */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInOutQuart {
	-webkit-transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
			transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
			transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/* Easing - easeInOutQuint */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInOutQuint {
	-webkit-transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	   -moz-transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
		 -o-transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
			transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
			transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

/* Easing - easeInOutSine */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInOutSine {
	-webkit-transition: all .5s cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	   -moz-transition: all .5s cubic-bezier(0.445, 0.050, 0.550, 0.950); 
		 -o-transition: all .5s cubic-bezier(0.445, 0.050, 0.550, 0.950); 
			transition: all .5s cubic-bezier(0.445, 0.050, 0.550, 0.950);

	-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	   -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
		 -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
			transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

/* Easing - easeInOutExpo */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInOutExpo {
	-webkit-transition: all .5s cubic-bezier(1.000, 0.000, 0.000, 1.000); 
	   -moz-transition: all .5s cubic-bezier(1.000, 0.000, 0.000, 1.000); 
		 -o-transition: all .5s cubic-bezier(1.000, 0.000, 0.000, 1.000); 
			transition: all .5s cubic-bezier(1.000, 0.000, 0.000, 1.000);

	-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
		 -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
			transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

/* Easing - easeInOutCirc */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInOutCirc {
	-webkit-transition: all .5s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	   -moz-transition: all .5s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
		 -o-transition: all .5s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			transition: all .5s cubic-bezier(0.785, 0.135, 0.150, 0.860);

	-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	   -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
		 -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

/* Easing - easeInOutBack */
.hopscotch-container.hopscotch-loaded.hopscotch-easing-easeInOutBack {
	-webkit-transition: all .5s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	   -moz-transition: all .5s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
		 -o-transition: all .5s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
			transition: all .5s cubic-bezier(0.680, -0.550, 0.265, 1.550);

	-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	   -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
		 -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
			transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}